.area-mapa {
    display: flex;
}

.ranking {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-primaria);
    padding: 1rem 2rem;
    width: 15vw;
    height: calc(86.9vh - 100px);
}

.ranking h2 {
    text-align: center;
    color: var(--branco);
}

.texto {
    color: var(--branco);
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    cursor: pointer;
}

.ranking ul {
    list-style: none;
    padding-top: 2rem;
}

.texto_ranking {
    text-decoration: none;
    color: var(--branco);
    font-size: 1.25rem;
    cursor: pointer;
}

.ranking ul li p:hover {
    color: var(--vermelho);
}

.texto:hover {
    color: var(--vermelho);
}

.imagem__infowindow {
    width: 10vw;
    height: 10vw;
}

.ativo {
    color: var(--vermelho);
}


