<app-cabecalho [selecionado]="'mapa'"></app-cabecalho>
<section class="area-mapa ff-inter">
  <div class="ranking">
    <h2>Ranking de bairros</h2>
    <ul>
      <li><a href="#">1. Vila Olímpia - 10</a></li>
      <li><a href="#">2. Jardins - 8</a></li>
      <li><a href="#">3. Pinheiros - 5</a></li>
      <li><a href="#">4. Itaim Bibi - 3</a></li>
    </ul>
  </div>
  <google-map 
        class="map" 
        height="79.4vh" 
        width="85vw" 
        [zoom]="zoom"
        [options]="optionsMap"
        [center]="center">

        <map-marker
            *ngFor="let marker of markers"
            [position]="marker.position"
            ></map-marker>
    </google-map>
</section>
