.fundo{
    background-color: var(--cor-secundaria);
    padding: 3rem;

}

.formularios {
    background: var(--cor-primaria);
    border: none;
    border-radius: 2rem;

}

.perfil-usuario form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.foto__perfil {
    text-align: center;
}

.perfil-usuario form label {
    color: var(--branco);
    font-family: var(--fonte-secundaria);
    font-weight: 500;
    font-weight: bold;
    margin: 0 0 0.5rem 1rem;
}

.perfil-usuario form input {
    border: none;
    height: 2rem;
    padding: 1rem 2rem;
    border-radius: 20px;
    margin: 0.3rem;
    font-size: 1rem;
}


.form__grupo {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    align-self: center;
}

.input__grande {
    width: 77vw;
}

.acoes {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 5rem;
    margin-top: 1rem;
}

.botao {
    height: 4rem;
    width: 12rem;
    background: var(--vermelho);
    color: var(--branco);
    border: none;
    border-radius: 1rem;
    transition: 0.5s ease;
    cursor: pointer;
}

.botao__desabilitado {
    height: 4rem;
    width: 12rem;
    background-color: var(--cor-secundaria);
    color: var(--branco);
    border: none;
    border-radius: 1rem;
}

.espaco__erro {
    height: 1rem;
}

.mensagem__erro {
    font-size: 1rem;
    margin-left: 1rem;
    font-weight: bold;
    color: red;
}

.mensagem_erro-api {
    font-size: 1.4rem;
    font-weight: bold;
    color: red;
    text-align: center;
    align-items: center;
}

.mensagem_sucesso-api {
    font-size: 1.4rem;
    font-weight: bold;
    color: #368546;
    text-align: center;
    align-items: center;
}

.input__botao {
    position: relative;
}

.input__botao .botao__senha {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.icone__senha {
    width: 1.8rem;
    height: 1.8rem;
}


@media screen and (max-width: 768px) {

    .cadastro-usuario form label {
        font-size: 1rem;
    }

    .cadastro-usuario form input {
        font-size: 0.85rem;
    }

    .input__grande {
        width: 40vw;
    }

    .acoes {
        flex-direction: column-reverse;
        gap: 2rem;
    }

    .input__botao .botao__senha {
        right: 5%;
    }

}

@media screen and (min-height: 970px) {

    .fundo {
        height: 80vh;
    }
    
}


