<app-cabecalho></app-cabecalho>
<section class="fundo-1">
    <div class="contorno">
        <h2 class="titulo ff-inter">Nosso Objetivo</h2>
        <p class="conteudo ff-inter">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper 
            odio non dui condimentum, eu ullamcorper purus dapibus. Vestibulum 
            ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia 
            curae; Mauris vitae lacinia velit. Suspendisse potenti. Nunc sed dolor sit Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper 
            odio non dui condimentum, eu ullamcorper purus dapibus. Vestibulum 
            ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia 
            curae; Mauris vitae lacinia velit. Suspendisse potenti. Nunc sed dolor sit Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper 
            odio non dui condimentum, eu ullamcorper purus dapibus. Vestibulum 
            ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia 
            curae; Mauris vitae lacinia velit. Suspendisse potenti. Nunc sed dolor sit 
            </p>
    </div>
    <img src="./../../../../assets/images/Imagem.png" alt="Foto Nosso Objetivo" class="imagem-1">
</section>
<section class="fundo-2">
    <img src="./../../../../assets/images/Imagem.png" alt="Foto Como Utilizar" class="imagem-1">
    <div class="contorno">
        <h2 class="titulo ff-inter titulo-esquerda">Como Utilizar</h2>
        <p class="conteudo ff-inter">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper 
            odio non dui condimentum, eu ullamcorper purus dapibus. Vestibulum 
            ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia 
            curae; Mauris vitae lacinia velit. Suspendisse potenti. Nunc sed dolor sit Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper 
            odio non dui condimentum, eu ullamcorper purus dapibus. Vestibulum 
            ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia 
            curae; Mauris vitae lacinia velit. Suspendisse potenti. Nunc sed dolor sit Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper 
            odio non dui condimentum, eu ullamcorper purus dapibus. Vestibulum 
            ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia 
            curae; Mauris vitae lacinia velit. Suspendisse potenti. Nunc sed dolor sit 
            </p>
    </div>
</section>
<section class="fundo-3">
    <h2 class="titulo-botoes ff-inter">Comece a usar!</h2>
    <div class="botoes">
        <button class="botao ff-inter">Mapa</button>
        <button class="botao ff-inter" routerLink="/cadastrarUsuario">Cadastro</button>
    </div>
</section>